@font-face{
	font-family:mohave;
	src: url(../font/Mohave.otf);
}

@font-face{
	font-family:pacifico;
	src: url(../font/Pacifico.ttf);
}

@font-face{
	font-family:jogjakartype;
	src: url(../font/Jogjakartype.ttf);
}