body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*misc*/

.relative {
	position: relative;
	z-index: 1;
}

.nomarg{
	margin: 0 0 0 0 !important;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.btn{
	padding: 2% 5%;
	font-family: mohave;
	cursor: pointer;
	transition: 0.3s;
	color: #000 !important;
}

.green {
	background-color: #00A49B;
}

.green:hover{
	background-color: #008c85;
	color: #fff !important;
}

/*div*/

header {
	width: 100%;
	height: 100px;
	background-color: black;
	/* background: linear-gradient(
	    rgba(0, 0, 0, 0.8),
	    rgba(0, 0, 0, 0)
	    );		
	/*box-shadow: 0 2px 10px #2d2c2e;*/
	position: relative;
}

.logo {
	padding: 10px 20px;
	margin:  0;
	cursor: pointer;
}

.logo-lead {
	line-height: 30px;
	margin : 0 10px 0 0 ;
	padding: 15px 0 5px 0;
	color: #fff ;
	font-family: mohave;
	font-style: italic;
	font-size: 1.6em;
	cursor: pointer;
}

.logo-name {
	line-height: 30px;
	margin: 0;
	color: #fff;
	font-family: pacifico;
	cursor: pointer;
}

header ul {
	list-style-type: none;
	float: right;
}

header ul li {
	display: inline;
	margin: 0;
	padding: 10px 15px;
	line-height: 70px;
	font-size: 1em;
	font-family: mohave;
	color: #fff;
	cursor: pointer;
}

header ul li a {
	border: none;
	padding: 3px 4px;
	transition: 0.1s;
}

header ul li a:hover {
	padding: 3px 4px;
	border-bottom: 2px solid #fff;
}




.flash {
	/*background:
	    url(../img/back/flight.png) no-repeat;*/
	background-color: #dcd1bd;
	padding: 20px 0;
	width:100%;  
	height: 360px;
	position: relative;
	z-index: 2;
}

.flash p {
	font-size: 1em;
}

.jogja {
	font-size: 6em;
	font-family: jogjakartype;
	color: #FF6969;
	margin: 15% 0 0 0 ;
	border-bottom: 2px solid #a0a0a0;
}

.flight {
	font-family: mohave;
	color: #2d2c2e;
	margin: 5% 0 7% 0 ;
}

.caption{
	margin-top: 20% !important;
	font-size: 4em;
	font-family:pacifico;
	color: #fff;
}

.caption-paralax{
	margin-top: 12% !important;
	font-size: 3em;
	font-family:pacifico;
	color: #fff;
}

.caption-btn {
	padding: 1% 2%;
	color: #fff !important;
	border: 2px solid #fff;
	cursor: pointer;
	display: inline-block !important;
	text-decoration: none;
}

.caption-btn:hover{
	border: 2px solid transparent;
	color: #000 !important;
	background-color: #fff;
}


.content {
	/*background:
	    url(../img/back/flight.png) no-repeat;*/
	background-color: #dcd1bd;
	padding: 20px 0;
	width:100%;  
	height: 620px;
	position: relative;
	z-index: 2;
}

.content h2 {
	margin: 0 0 20px 0;
	font-family: mohave;
	font-size: 2em;
	color: #FF6969;
}

.event-con {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
}

.event {
	width: 100%;
	height: 250px;
	background-color: #7b7e84;
}

.event-title {
	width: 100%;
	font-family: mohave;
	font-size: 1.5em;
	margin-top: -60%;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 3;
}

.event-desc-con {
	width: 100%;
	height: 100%;
	top: -37%;
	position: relative;
	z-index: 4;
	background-color: #6c686f;
	opacity: 0;
	transition: 1s;
}

.event-desc-con:hover {
	opacity: 1;
} 

.event-desc {
	padding: 2% 2%;
	color: #fff;
	text-align: center;
	font-family: arial;
	font-style: italic;
	cursor: pointer;
}

.event-desc h3 {
	font-family: mohave;
	font-style: normal;
	margin: 10px 0 0 0;
}

.event-more {
	padding: 1% 0;
	font-family: mohave;
	cursor: pointer;
	transition: 0.3s;
}

.berita {
	width: 100%;
	height: 250px;
	background-color: #7b7e84;
}

.berita-long-title {
	width: 100%;
	font-family: mohave;
	font-size: 1.5em;
	margin-top: -20%;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 3;
}

.berita-short-title {
	width: 80%;
	padding: 0 10%;
	font-family: mohave;
	font-size: 1.5em;
	margin-top: -45%;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 3;
}

.berita-long-desc-con {
	width: 100%;
	height: 100%;
	top: -64.25%;
	position: relative;
	z-index: 4;
	background-color: #6c686f;
	opacity: 0;
	transition: 1s;
}

.berita-long-desc-con:hover {
	opacity: 1;
} 

.berita-short-desc-con {
	width: 100%;
	height: 100%;
	top: -68.5%;
	position: relative;
	z-index: 4;
	background-color: #6c686f;
	opacity: 0;
	transition: 1s;
}

.berita-short-desc-con:hover {
	opacity: 1;
} 

.berita-desc {
	padding: 2% 2%;
	color: #fff;
	text-align: center;
	font-family: arial;
	font-style: italic;
	cursor: pointer;
}

.berita-desc h3 {
	font-family: mohave;
	font-style: normal;
	margin: 10px 0 0 0;
}


#paralax {	
	width: 100%;
	height: 400px;
	margin-top: -30px;
	float: left;
	background: linear-gradient(
	    rgba(0, 0, 0, 0.2),
	    rgba(0, 0, 0, 0.1)),
	    url(../img/slide/slide5.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
}